{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/subscription/variant_sub.css" %}">
{% endblock style %}

{% block content %}
<section class="section-priсing">
    <div class="container">
        <span class="priсe-text">Ваше кино - ваши правила</span>
        <h3 class="priсing-heading">
            Выберите свой план<strong>[Filmora]</strong>
        </h3>
    </div>
    <div class="container grid grid--2-cols">
        <div class="pricing-plan pricing-plan-std">
            <header class="plan-header">
                <p class="plan-name plan-name-std">Стандарт</p>
                <p class="plan-price plan-price-std"><span>₽</span>788/месяц</p>
                <p class="plan-text plan-text-std">Всего 26₽ в день</p>
            </header>
            <ul class="list">
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon-std"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Персонализированные рекомендации фильмов и сериалов</span
                    >
                </li>
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Доступ к базовой коллекции подборок (до 50 фильмов в
                        месяц)</span
                    >
                </li>
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon-std"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Возможность создавать до 3 собственных списков
                        "Избранное"</span
                    >
                </li>
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon-std"
                        name="checkmark"
                    ></ion-icon
                    ><span>Обновление рекомендаций каждые 2 недели</span>
                </li>
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon-std"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Ограниченный доступ к эксклюзивным обзорам и рецензиям</span
                    >
                </li>
                <li class="list-item list-item-std">
                    <ion-icon
                        class="list-icon list-icon-std"
                        name="checkmark"
                    ></ion-icon
                    ><span>Поддержка одного устройства одновременно</span>
                </li>
            </ul>
            <div class="plan-sing-up">
                <a class="btn-price pay-sub" href="#" data-level-sub="STANDARD" data-url="{% url "subscription:subscription_variant" %}">
                    {% csrf_token %} 
                    Подключить стандарт
                </a>
            </div>
        </div>

        <div class="pricing-plan pricing-plan-prem">
            <header class="plan-header">
                <p class="plan-name plan-name-prem">Премиум</p>
                <p class="plan-price plan-price-prem"><span>₽</span>1600/месяц</p>
                <p class="plan-text plan-text-prem">Всего 53₽ в день</p>
            </header>
            <ul class="list">
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Расширенные рекомендации на основе анализа предпочтений</span
                    >
                </li>
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Полный доступ к коллекции подборок (более 200 фильмов в
                        месяц)</span
                    >
                </li>
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span
                        >Неограниченное количество собственных списков
                        "Избранное""</span
                    >
                </li>
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span>Еженедельное обновление рекомендаций</span>
                </li>
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span>Эксклюзивно: интервью, закулисье и обзоры</span>
                </li>
                <li class="list-item list-item-prem">
                    <ion-icon
                        class="list-icon list-icon-prem"
                        name="checkmark"
                    ></ion-icon
                    ><span>Поддержка до 4 устройств одновременно</span>
                </li>
            </ul>
            <div class="plan-sing-up">
                <a class="btn-price btn-price-secondary pay-sub" href="#" data-level-sub="PREMIUM" data-url="{% url "subscription:subscription_variant" %}">
                    {% csrf_token %} 
                    Подключить премиум
                    </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}