{% extends "base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
{% endblock style %}

{% block content %}
<div class="content">

    <form action="{% url "library:movies_search" %}" class="search-form" method="get" role="search">
        <input type="search" name="q" placeholder="Найди любой фильм" id="">
        <button type="submit">Поиск</button>
    </form>
    
    <h1>{{ heading }}</h1>
    <p>{{ text }}</p>

    {% if request.GET.q %}
        <h2>Результаты поиска по запросу "{{ request.GET.q }}"</h2>
    {% else %}
        <div class="filter">
            <label for="genre-select">Выберите жанр:</label>
            <select id="genre-select" onchange="filterMovies()">
                {% for genre in genres %}
                <option value="{% if is_user_movies %}
                {% url "library:user_movies" genre.slug %}
                {% else %}
                {% url "library:films" genre.slug %}
                {% endif %}" {% if selected_genre == genre.slug %}selected{% endif %}>{{ genre.name.capitalize }}</option>
                {% endfor %}
                <!-- Добавьте другие жанры по необходимости -->
            </select>
        </div>
    {% endif %}
    <br>

    <div class="movies-grid">
        {% if request.GET.q and not movies %}
            <h3>По вашему запросу ничего не найдено</h3>
        {% else %}
            {% for movie in movies %}
            <div class="movie-card">
                <a href="{% url "library:concrete_movie" movie.slug %}">
                    <div class="movie-image">
                        <img src="{{ movie.image }}" alt="{{ movie.title }}">
                    </div>
                    <div class="movie-info">
                        <div class="movie-title">{{ movie.title }}  </div>
                        {% if movie.genre %}
                            <div class="movie-description">{{ movie.genre }}</div>
                        {% endif %}
                        {% if movie.year %}
                            <div class="movie-description">{{ movie.year }}</div>
                        {% endif %}
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="pagination">
        <span class="step-links">
            
                <a href="?page=1">&laquo; Первая</a>
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a>

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        </span>
    </div>
</div>
<script>
    function filterMovies() {
        const genreSelect = document.getElementById('genre-select');
        const selectedUrl = genreSelect.options[genreSelect.selectedIndex].value;
        window.location.href = selectedUrl;
    }
</script>
{% endblock content %}

