{% extends "base.html" %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <h1>{{ heading }}</h1>
    <p>{{ text }}</p>
    <div class="filter">
        <label for="genre-select">Выберите жанр:</label>
        <select id="genre-select" onchange="filterMovies()">
            {% for genre in genres %}
            <option value="{% url "library:films" genre.slug %}" {% if selected_genre == genre.slug %}selected{% endif %}>{{ genre.name.capitalize }}</option>
            {% endfor %}
            <!-- Добавьте другие жанры по необходимости -->
        </select>
    </div>
    <br>
    <div class="movies-grid">
        {% for movie in movies %}
        <div class="movie-card">
            <a href="{% url "library:concrete_movie" movie.slug %}">
                <div class="movie-image">
                    <img src="{{ movie.image }}" alt="{{ movie.title }}">
                </div>
                <div class="movie-info">
                    <div class="movie-title">{{ movie.title }}  </div>
                    {% if movie.genre %}
                        <div class="movie-description">{{ movie.genre }}</div>
                    {% endif %}
                    {% if movie.year %}
                        <div class="movie-description">{{ movie.year }}</div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br>
    <div class="pagination">
        <span class="step-links">
            
                <a href="?page=1">&laquo; Первая</a>
                <a href="{% if movies.has_previous %}?page={{ movies.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a>

            <span class="current">
                Страница {{ movies.number }} из {{ movies.paginator.num_pages }}
            </span>

                <a href="{% if movies.has_next %}?page={{ movies.next_page_number }}{% else %}#{% endif %}">Следующая</a>
                <a href="?page={{ movies.paginator.num_pages }}">Последняя &raquo;</a>
        </span>
    </div>
</div>
<script>
    function filterMovies() {
        const genreSelect = document.getElementById('genre-select');
        const selectedUrl = genreSelect.options[genreSelect.selectedIndex].value;
        window.location.href = selectedUrl;
    }
</script>
{% endblock content %}

