{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/concrete_movie.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <h1>{{ movie.title }}</h1>
    <div class="movie-detail">
        <div class="movie-image">
            <img src="{{ movie.image }}" alt="{{ movie.title }}">
        </div>
        <div class="movie-info">
            <p><strong>Жанр:</strong> {{ movie.genre }}</p>
            <p><strong>Дата выхода:</strong> {{ movie.year }}</p>
            <p><strong>Страна производства:</strong> {{ movie.country }}</p>
            <p><strong>Описание:</strong> {{ movie.description }}</p>
        </div>
    </div>
</div>
{% endblock content %}