/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */

/* **************************** */
/* BELOW 1300px (Smaller desktops) */
/* **************************** */

@media (max-width: 82em) {
	.hero {
		max-width: 120rem;
	}
}

@media (max-width: 75em) {
	html {
		/* 9px / 16px = 56.25% */
		font-size: 56.25%;
	}

	.grid {
		column-gap: 4.8rem;
		row-gap: 6.4rem;
	}
}
