.registration-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: flex-start; 
	min-height: 100vh;
	
	
	
	/* height: 100%;
	width: 100%; */
}

.registration-container  {
	background-color: #082a29;
	
	padding: 4rem;
	border-radius: 9px;
	border: 0.1rem #43a694 solid;
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.6);
	max-width: 35rem;
	text-align: center;
	
}

.registration-container h2 {
	margin-bottom: 3.2rem;
	font-size: 2.4rem;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-transform: uppercase;
}

.form-group {
	margin-bottom: 1.5rem;
	text-align: left;
}

.form-group label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	color: #fff;
	letter-spacing: normal;
	font-weight: normal;
	
}

.form-group input {
	width: 100%;
	padding: 1rem;
	border: 0.1rem solid #fff;
	border-radius: 4px;
	
	
}

button {
	text-decoration: none;
	font-size: 2rem;
	background-color: #0d6050;
	color: #fff;
	padding: 1.6rem 3.2rem;
	border-radius: 9px;
	margin-top: 2.4rem;
	
	transition: all 0.3s;
}

button:hover {
	background-color: #082a29;
}
