/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px */

/* **************************** */
/* BELOW 1300px (Smaller desktops) */
/* **************************** */

@media (max-width: 82em) {
	.hero {
		max-width: 120rem;
	}
}

@media (max-width: 75em) {
	html {
		/* 9px / 16px = 56.25% */
		font-size: 56.25%;
	}

	.testimonials {
		grid-template-columns: repeat(2, 1fr);
		gap: 1.2rem;
	}
}

@media (max-width: 63em) {
	.grid {
		column-gap: 3.2rem;
		row-gap: 6.4rem;
	}

	.grid--3-cols {
		grid-template-columns: 1fr;
	}

	.how-heading {
		font-size: 3.6rem;
	}

	.how-heading strong {
		font-size: 4.4rem;
	}

	.how-description {
		font-size: 2.4rem;
	}

	.how-description strong {
		font-size: 3.2rem;
	}

	.visual-blocks-title {
		font-size: 2.4rem;
	}

	.visual-blocks-title strong {
		font-size: 3rem;
	}

	.visual-blocks-text {
		font-size: 2rem;
	}

	.cta {
		display: grid;
		grid-template-columns: 1fr;
	}

	.cta-img-box {
		height: 70rem;
	}

	.cta-text-box {
		text-align: center;
	}

	.cta-title {
		margin-left: 0;
		font-size: 2.4rem;
	}

	.btn-sta {
		margin-left: 0;
	}

	.testimonials {
		gap: 0.8rem;
	}

	.testimonial-text {
		margin-bottom: 1.2rem;
	}

	.testimonial-name {
		margin-bottom: 1.8rem;
	}

	/* MOBILE NAVIGATION */
	.header__hero {
		padding: 2rem 0;
		text-align: center;
	}

	/* .logo {
		margin-bottom: 3rem;
	} */

	.btn-mobile-nav {
		display: block;
	}

	.main-nav-block {
		background-color: rgba(116, 115, 115, 0.97);
		position: absolute;
		top: 0;
		right: 0;
		width: 15%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		opacity: 0;
	}

	.nav-open .main-nav-block {
		opacity: 1;
	}

	.main-nav-list {
		flex-direction: column;
		align-self: end;
		gap: 0;
	}

	.main-nav-link:link,
	.main-nav-link:visited {
		font-size: 1.4rem;
		padding: 1.6rem;
		background: none;
		border-radius: none;
	}

	/* .icon-mobile-nav {
		font-size: 2.4rem;

		transition: opacity 0.3s ease;
	} */

	/* .icon-mobile-nav[name='menu'] {
		display: block;
	} */

	/* .icon-mobile-nav[name='close'] {
		display: none;
	} */

	/* .main-nav-list.active {
		display: flex;
		opacity: 1;
		transform: translateY(0);
	} */
}
