    {% if user_movie %}
        <div class="btn-add-disabled">
            Добавить в коллекцию
        </div>
        <a href="{% url "users:delete_from_collection" %}" class="btn-add delete-from-collection" data-movie-id="{{ movie.id }}">
            {% csrf_token %}
            Удалить из коллекции
        </a>     
    {% else %}
        <a href="{% url "users:add_to_collection" %}" class="btn-add add-to-collection" data-movie-id="{{ movie.id }}">
            {% csrf_token %}
            Добавить в коллекцию
        </a>
    {% endif %}