{% load static %}

{% for review in reviews %}
    {% if review.review is not None %}
        <div class="review-card">
            <div class="review-header">
                <div class="profile-photo">
                    {% if review.user.image %}
                        <img src="{{ review.user.image.url }}" alt="{{ review.username }}">
                    {% else %}
                        <div class="profile-photo-placeholder"></div>
                    {% endif %}
                </div>
                <span class="username">{{ review.user.username }}</span>
                <span class="date">{{ review.added_at|date:"d.m.Y H:i" }}</span>
            </div>
            <div class="review-rating">
                <!-- Отображение оценки в виде звезд -->
                <div class="star-rating">
                    {% for i in "54321" %}
                        {% if i|add:0 <= review.mark %}
                            <span class="star filled">★</span>
                        {% else %}
                            <span class="star">☆</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="review-text">
                <p>{{ review.review }}</p>
            </div>
            <div class="review-control">
                {% if review.user.username == current_username %}
                    <a href="{% url "reviews:delete_review" %}" class="btn-edit-review remove-review" data-movie-id="{{ review.movie.id }}">
                        {% csrf_token %}
                        ✏️ Изменить
                    </a>
                    <a class="btn-delete-review" data-review-id="{{ review.movie.id }}">
                        {% csrf_token %}
                        🗑️ Удалить
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        
            <a href="?page=1">&laquo; Первая</a>
            <a href="{% if reviews.has_previous %}?page={{ reviews.previous_page_number }}{% else %}#{% endif %}">Предыдущая</a>

        <span class="current">
            Страница {{ reviews.number }} из {{ reviews.paginator.num_pages }}
        </span>

            <a href="{% if reviews.has_next %}?page={{ reviews.next_page_number }}{% else %}#{% endif %}">Следующая</a>
            <a href="?page={{ reviews.paginator.num_pages }}">Последняя &raquo;</a>
    </span>
</div>