{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "/css/user/login.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <div class="login-container">
        <h2>Вход</h2>
        <form action="{% url "user:login" %}" method="post">
            {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                    {{ item }}
                </div>
            {% endfor %}
            <button type="submit">Войти</button> 
        </form>
    </div>
</div>
{% endblock %}