{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "/css/user/profile.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <div class="profile-container">
        <h2>Профиль пользователя</h2>
        <div class="profile-info">
            <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="profile-photo">
                        {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Username">
                        {% else %}
                            <div class="profile-photo-placeholder"></div>
                        {% endif %}
                    </div>
                    <label for="id_image">Изменить аватар</label>
                    <input type="file" id="id_image" name="image">
                    {% if form.image.errors %}
                        <div class="notification error">
                            <p>{{ form.image.errors }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="profile-item">
                    <label for="id_username">Имя пользователя:</label>
                    <input type="text" id="id_username" name="username" value="{{ form.username.value }}" required>
                    {% if form.username.errors %}
                        <div class="notification error">
                            <p>{{ form.username.errors }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="profile-item">
                    <label for="id_email">Электронная почта:</label>
                    <input type="email" id="id_email" name="email" value="{{ form.email.value }}" required>
                    {% if form.email.errors %}
                        <div class="notification error">
                            <p>{{ form.email.errors }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="profile-actions">
                    <label>Дата регистрации:</label>
                    <span class="date">{{ user.date_joined|date:"c" }}</span>
                </div>
                <div class="profile-actions">
                    <button type="submit" class="btn">Сохранить изменения</button>
                    <a href="{% url 'users:logout' %}" class="btn">Выйти</a>
                </div>
            </form>
    </div>
</div>
{% endblock content %}

{% block page_script %}
<script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/date-fns@3.6.0/locale/ru/cdn.min.js"></script>
<script src="{% static "js/format-time.js" %}"></script>
{% endblock page_script %}