{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "/css/user/profile.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <div class="profile-container">
        <h2>Профиль пользователя</h2>
        <div class="profile-info">
            <div class="profile-photo">
                    {% comment %} <img src="" alt="Username"> {% endcomment %}
                    <div class="profile-photo-placeholder"></div>
            </div>
            <div class="profile-item">
                <label>Имя пользователя:</label>
                <span></span>
            </div>
            <div class="profile-item">
                <label>Электронная почта:</label>
                <span></span>
            </div>
            <div class="profile-item">
                <label>Дата регистрации:</label>
                <span></span>
            </div>
        </div>
        <div class="profile-actions">
            <a href="" class="btn">Редактировать профиль</a>
            <a href="" class="btn">Выйти</a>
        </div>
    </div>
</div>
{% endblock content %}