{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "/css/user/registration.css" %}">
{% endblock style %}

{% block content %}
<div class="content">
    <div class="registration-container">
        <h2>Регистрация</h2>
        <form action="/registration/" method="post">
            <div class="form-group">
                <label for="username">Имя пользователя</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">Подтвердите пароль</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock content %}