{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmora - Filmora</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static "css/user/notifications.css" %}">
</head>
<body>
    <nav>
        <a href="{% url 'main:about' %}" class="about-link">О нас</a>
    </nav>
    {% include "includes/notifications.html" %}
    <div class="content">
        <div class="main-container">
            <h1>{{ heading }}</h1>
            <p>{{ text }}</p>
            <a href="{% url 'users:registration' %}" class="btn-main">Начать пользоваться</a>
            <br>
            <a href="{% url 'users:login' %}" class="btn-secondary">Войти</a>
        </div>
    </div>
    <script src="{% static "js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-ajax.js" %}"></script>
</body>
</html>